<footer id="footer">
    <div class="fixed_width_wrapper">
        <ul>
            <li>
                <a href="mailto:contact@example.com">Contact</a>
            </li>
            <li>
                <a href="//tumblr.com">Blog</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/jobs">
                    Jobs
                    <img class="hiring" src="/static/img/drawquest/hiring@2x.png">
                </a>
            </li>
        </ul>
        <ul class="social">
            <li class="twitter">
                <a href="https://twitter.com/" class="twitter-follow-button" data-show-count="false">Follow @DrawQuest</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
            <li class="facebook">
                <div class="fb-like" data-href="http://www.facebook.com/" data-send="false" data-layout="button_count" data-width="75" data-show-faces="false" data-colorscheme="dark"></div>
            <li>
        </ul>
    </div>
</footer>
