{% extends "drawquest/dqbase.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/drawquest/palettes.css">
{% endblock %}

{% block body %}
    <h1>Default</h1>
    <div class="palette">
        <div class="color white">white</div>
        <div class="color gray">gray</div>
        <div class="color slate">slate</div>
        <div class="color light_blue">light_blue</div>
        <div class="color deep_purple">deep_purple</div>
        <div class="color red">red</div>
        <div class="color orange">orange</div>
        <div class="color yellow">yellow</div>
        <div class="color green">green</div>
        <div class="color sweet_beige">sweet_beige</div>
        <div class="color classic_blue">classic_blue</div>
        <div class="color cinnamon_brown">cinnamon_brown</div>
    </div>

    <h1>Vintage Rainbow</h1>
    <p>
        Strong, deep classic colors to complement the default hues.
    </p>
    <div class="palette">
        <div class="color rustic_red">rustic_red</div>
        <div class="color classic_orange">classic_orange</div>
        <div class="color crayon_green">crayon_green</div>
        <div class="color retro_blue">retro_blue</div>
        <div class="color classic_purple">classic_purple</div>
    </div>

    <h1>Winter Hues</h1>
    <p>
        The colors of winter.
    </p>
    <div class="palette">
        <div class="color snow_blue">snow_blue</div>
        <div class="color snow_gray">snow_gray</div>
        <div class="color pale_green">pale_green</div>
        <div class="color conifer_green">conifer_green</div>
        <div class="color cranberry_red">cranberry_red</div>
    </div>

    <h1>Candy</h1>
    <p>
        Cute, sweet colors.
    </p>
    <div class="palette">
        <div class="color sweet_red">sweet_red</div>
        <div class="color bubblegum_pink">bubblegum_pink</div>
        <div class="color ripe_yellow">ripe_yellow</div>
        <div class="color electric_blue">electric_blue</div>
    </div>

    <h1>Humane</h1>
    <p>
        Various fleshtones for drawing people.
    </p>
    <div class="palette">
        <div class="color pale_beige">pale_beige</div>
        <div class="color pale_pink">pale_pink</div>
        <div class="color pale_salmon">pale_salmon</div>
        <div class="color deep_brown">deep_brown</div>
    </div>

    <h1>Dawn</h1>
    <p>
        The from twilight to daylight
    </p>
    <div class="palette">
        <div class="color dark_violet">dark_violet</div>
        <div class="color dark_fuscia">dark_fuscia</div>
        <div class="color painter_red">painter_red</div>
        <div class="color dawn_orange">dawn_orange</div>
        <div class="color dawn_yellow">dawn_yellow</div>
    </div>

    <h1>Sky Shades</h1>
    <p>
        Shades of blue
    </p>
    <div class="palette">
        <div class="color apex_blue">apex_blue</div>
        <div class="color sky_blue">sky_blue</div>
        <div class="color horizon_blue">horizon_blue</div>
        <div class="color overcast_blue">overcast_blue</div>
    </div>

    <h1>Midnight</h1>
    <p>
        Shades of black with starlight yellow
    </p>
    <div class="palette">
        <div class="color black">black</div>
        <div class="color midnight_blue">midnight_blue</div>
        <div class="color midnight_purple">midnight_purple</div>
        <div class="color midnight_green">midnight_green</div>
        <div class="color starlight_yellow">starlight_yellow</div>
    </div>
{% endblock %}