#cloud-config
#CANVAS NOTE: IF YOU CHANGE THIS FILE FOR THE WEB ROLE YOU MUST UPDATE THE AUTOSCALE CONFIG

__BYOBU__

# The primary source is the (fast) EC2 apt server, but add a backup in case it goes down.
apt_sources:
 - source: "deb http://us.archive.ubuntu.com/ubuntu/ __RELEASE__ main universe"

runcmd:
 - mkdir /etc/canvas
 - echo __ROLE__ > /etc/canvas/role
 - echo __LAUNCHED_BY__ > /etc/canvas/launched_by

puppet:
 # Every key present in the conf object will be added to puppet.conf
 # The puppetmaster ca certificate will be available in /var/lib/puppet/ssl/certs/ca.pem
 conf:
   agent:
     # 'report' sends emails of client output based on tagmail.conf on the master
     report: "true"
     # 'pluginsync' means clients have access to plugins/facts/functions on the master
     pluginsync: "true"
     pluginsignore: "functions"
     server: "puppetmaster.internal.example.com"
     # certname supports substitutions at runtime:
     #   %i: instanceid Example: i-0123456
     #   %f: fqdn of the machine Example: ip-X-Y-Z.cloud.internal
     # NB: the certname will automatically be lowercased as required by puppet
     certname: "%i.__ROLE__.example.com"
   # ca_cert is a special case. It won't be added to puppet.conf.
   # It holds the puppetmaster certificate in pem format. 
   # It should be a multi-line string (using the | yaml notation for multi-line strings).
   # The puppetmaster certificate is located in /var/lib/puppet/ssl/ca/ca_crt.pem on the puppetmaster host.
   ca_cert: |
     -----BEGIN CERTIFICATE-----
     fakekey
     -----END CERTIFICATE-----
