data
docs
chrome.zip
*.pyc
*.sqlite
*.swp
*.swo
*.swn
*.swm
*.swl
*.swk
*.swj
*.swi
*.swh
*.swg
*.swe
*.swd
*.swc
*.swb
*.swa
*.svz
*.svy
*.svx
*.svw
*.svv
*.svu
*.svt
*.svs
*.svr
*.svl
*.svm
*.svn
*.svo
*.svp
*.svq
*.log
*.log.gz
*.pid
*.rdb
*.tmp[^l]*
*.wpr
*.o
.DS_Store
todo.txt
.sass-cache
.project
.pydevproject
.settings
.noseids
.ec2
website/drawquest/ugc/*
