<div class="color_picker panel_picker">
    <button>
        <div class="preview"></div>
        Color
    </button>

    <div class="popout colors_popout">
        <ul class="swatches">
            <li class="swatch" data-color="[238,51,136]"></li>
            <li class="swatch" data-color="[51,87,238]"></li>
            <li class="swatch" data-color="[204,17,238]"></li>
            <li class="swatch" data-color="[238,255,102]"></li>
            <li class="swatch" data-color="[255,153,0]"></li>
            <li class="swatch" data-color="[17,238,85]"></li>
            <li class="swatch" data-color="[255,255,255]"></li>
            <li class="swatch" data-color="[0,0,0]"></li>
        </ul>
        <div class="advanced">
            <button class="spectrum_toggle"></button>
            <button class="eye_dropper">
                <div class="icon"></div>
            </button>
        </div>

        <div class="spectrum_container">
            <div class="spectrum clearfix">
                <div class="hue_slider"></div>
                <div class="hue top left"></div>
                <div class="hue top center"></div>
                <div class="hue top right"></div>
                <div class="hue left middle"></div>
                <div class="hsv_gradient">
                    <div class="hsv_gradient_overlay">
                        <div class="hsv_slider"></div>
                    </div>
                </div>
                <div class="hue right middle"></div>
                <div class="hue bottom left"></div>
                <div class="hue bottom center"></div>
                <div class="hue bottom right"></div>
            </div>
        </div>
    </div>
</div>

