<div class="opacity_picker panel_picker draggable">
    <button>
        <div class="selected_opacity">
            <div class="preview"></div>
        </div>
        Opacity
    </button>

    <div class="popout opacity_picker_popout">
        <div class="finetune">
            <input type="text" maxlength="3"/>
        </div>
        <ul class="choices">
            <li class="high_opacity" data-value="100"></li>
            <li class="medium_opacity" data-value="75"></li>
            <li class="low_opacity" data-value="50"></li>
        </ul>
    </div> 
</div>

