<div class="softness_picker panel_picker draggable">
    <button>
        <div class="selected_softness custom_brush"></div>
        Softness
    </button>

    <div class="popout softness_picker_popout">
        <div class="finetune">
            <input type="text" maxlength="3"/>
        </div>
        <ul class="choices">
            <li class="hard_brush" data-value="0"></li>
            <li class="medium_brush" data-value="50"></li>
            <li class="soft_brush" data-value="100"></li>
        </ul>
    </div> 
</div>

