<div class="tolerance_picker panel_picker draggable">
    <button>
        <div class="selected_tolerance custom_tolerance">
            <div class="preview"></div></div>
        Tolerance
    </button>

    <div class="popout tolerance_picker_popout">
        <div class="finetune">
            <input type="text" maxlength="3">
        </div>
        <ul class="choices">
            <li class="low_tolerance" data-value="1" data-tolerance="low">
                <div class="preview"></div>
            </li>
            <li class="medium_tolerance" data-value="15" data-tolerance="medium">
                <div class="preview"></div>
            </li>
            <li class="high_tolerance" data-value="25" data-tolerance="high">
                <div class="preview"></div>
            </li>
        </ul>
    </div> 
</div>

