<div class="suggestion_widget">
    <h2>Invite your friends:</h2>
    <ul class="invites">
        <li>
            <a class="facebook">
                <img src="/static/img/share_facebook_icon.png"><span>Facebook</span>
            </a>
        </li>
        <li>
            <a class="twitter">
                <img src="/static/img/share_twitter_icon.png"><span>Twitter</span>
            </a>
        </li>
        <li>
            <a class="email">
                <img src="/static/img/share_email_icon.png"><span>Email</span>
            </a>
        </li>
    </ul>
</div>
