.thread_comment {
    $img_width:600px;
    $post_padding:15px;
    $margin-bottom:20px;

    @extend .clearfix;

    .user,
    .post {
        float:left;
        position:relative;
    }

    .user {
        width:130px;
        margin-bottom:$margin-bottom;
        margin-right:$post_padding;
        text-align:right;
        padding-right:1.5em;
        padding-top:$post_padding;
        color:#777;

        .user_link {
            display:block;
        }

        p.username {
            font-size:1.4em;
            font-weight:bold;

            span.anon {
                font-weight:normal;
                color:#999;
            }
        }

        p.timestamp {
            font-size:1.2em;

            a {
                color:#999;
            }
        }

        .share_comment {
            margin-top:10px;
        }
    }

    &:last-of-type .user {
        margin-bottom:0;
    }

    &.text_only .user {
        padding-top:10px;
    }

    .post hgroup {
        margin-bottom:10px;
        @extend .clearfix;

        > h1 {
            font-size:2.4em;
            font-weight:bold;
        }

        h2 {
            margin-bottom:0.5em;
            font-size:1.4em;
            font-weight:normal;

            strong {
                font-weight:bold;
                font-size:1.285em;
            }
        }

        button.share,
        button.follow_thread_toggle {
            float:right;
            margin-left:10px;
            font-size:1.2em;
        }

        button.share {
            padding-left:0.5em;
            padding-right:0.7em;

            .icon {
                display:inline-block;
                background:url(/static/img/share/share_button_invite_bg.png) top left no-repeat;
                background-size:100% 200%;
                width:23px;
                height:19px;
                margin:-1em 0.5em -1em 0;
                vertical-align:middle;
            }

            &:hover .icon {
                background-position:bottom left;
            }
        }

        ul.tagit {
            margin-top: 10px;
            width: 90%;
            display: inline-block;
        }

        a.edit_tags_link {
            margin-left: 5px;
            font-size: 1.2em;
        }

        a.save_tags_link {
            margin-top: 10px;
            font-size: 1.2em;
        }
    }

    .post {
        width:600px + $post_padding*2;
    }

    .post > .wrapper {
        $shadow:0 0 3px rgba(#000, 0.25);
        position:relative;
        width:600px + $post_padding*2;
        margin-bottom:$margin-bottom;
        border:1px solid #ccc;
        background:#fff;
        @extend .clearfix;
        @include box-shadow($shadow);

        &.drop_target {
            @include box-shadow(($shadow, 0 0 0 4px #DAFF00));
        }

        &.stickered {
            .inner_wrapper {
                padding-bottom:30px;
            }

            .sticker_bg,
            .sticker_flavor {
                display:block;
            }
        }
    }

    &.text_only .post > .wrapper.stickered .inner_wrapper {
        padding-bottom:20px;
    }

    &:last-of-type .post > .wrapper {
        margin-bottom:0;
    }

    .post .inner_wrapper {
        // We do this so sticker_bg, which is abs pos, can go below it.
        position:relative;
        padding:$post_padding;
        z-index:1;
        @extend .clearfix;
    }

    &.text_only .post .inner_wrapper {
        padding:10px 15px 5px;
    }

    .response_actions {
        margin-right:55px - $post_padding;

        .remix_icon,
        .reply_icon {
            display:inline-block;
            height:20px;
            margin-top:10px;
            margin-right:15px;
            padding-left:30px;
            font-size:1.8em;
            font-weight:bold;
            color:rgba(#000, 0.35);

            &:hover {
                color:$canvas_blue;
            }
        }

        .remix_icon {
            $url:url(/static/img/thread_remix_icon.png);
            background:$url top left no-repeat;

            &:hover {
                background:$url bottom left no-repeat;
            }
        }

        .reply_icon {
            $url:url(/static/img/thread_reply_icon.png);
            background:$url top left no-repeat;

            &:hover {
                background:$url bottom left no-repeat;
            }
        }
    }

    .content_wrapper {
        text-align:center;
    }

    .image_container {
        display:inline-block;
        position:relative;

        .animated_hint {
            position:absolute;
            width:46px;
            height:48px;
            right:5px;
            bottom:5px;
            background:url(/static/img/gif-play-button.png);
            background-position:0 0;

            &:hover {
                background-position:-46px 0;
            }

            &:active {
                background-position:-92px 0;
            }

            &.pause {
                background:none;
            }
        }

        &:hover .animated_hint {
            &.pause {
                background:url(/static/img/gif-play-button.png) no-repeat;
                background-position:0 -96px;

                &:hover {
                    background-position:-46px -96px;
                }

                &:active {
                    background-position:-92px -96px;
                }
            }
        }

        &.loading .animated_hint {
            z-index:4;
            background-position:0 -48px;

            &:hover {
                background-position:-46px -48px;
            }

            &:active {
                background-position:-92px -48px;
            }
        }

        img.ugc_img {
            display:block;
            margin:0 auto;
        }
    }

    .remix_parent {
        position:absolute;
        width:0;
        height:100%;
        right:0;
        top:0;
        overflow:hidden;

        img {
            display:block;
            position:absolute;
            right:0;
            top:0;
            background:#fff;
        }
    }

    .slider_handle {
        position:absolute;
        height:55px;
        width:30px;
        background:#ddd url(/static/img/slider_handle_arrow.png) right center no-repeat;
        border:1px solid #bbb;
        border-left:0;
        right:-30px;
        top:20px;
        cursor:move;
        z-index:3;
        @include border-radius(0 7 7 0);
    }


    p.caption {
        margin-top:1em;
        font-size:1.4em;

        a.replied_link {
            color:$canvas_red;
            font-weight:bold;
        }
    }

    &.text_only p.caption {
        margin-top:0;
    }

    /* Hide post options */

    .post > .wrapper:hover .close_options {
        @include opacity(1);
        z-index:3;
    }

    .close_options {
        position:absolute;
        width:22px;
        height:23px;
        top:5px;
        right:5px;
        z-index:2;
        padding:3px 4px 0;
        background:rgba(#222, 0.7);
        cursor:pointer;
        font-size:24px;
        color:#ccc;
        line-height:18px;
        @extend .rounded_4px;
        @include box-shadow(inset 1px 1px 1px rgba(#000, 0.2));
        @include opacity(0);
        @include transition(opacity 0.3s ease-in);

        .hover_buffer {
            position:absolute;
            width:50%;
            height:3em;
            top:-3em;
            right:0;
        }

        > span {
            height:0.75em;
            pointer-events:none;
        }

        .close_dialog {
            display:none;
            $border-color:#999;
            position:absolute;
            right:-0.5em;
            top:2.75em;
            margin-top:3px;
            font-size:0.41em;
            line-height:auto;
            border:1px solid $border-color;
            background:#fff;
            z-index:3;
            @include border-radius(0 0 5 5);
            @include box-shadow(2px 2px 5px rgba(#000, 0.3));

            &:hover {
                display:block;
            }

            &:before,
            &:after {
                content:"\00a0";
                position:absolute;
                width:0;
                height:0;
                pointer-events:none;
                bottom:100%;
                right:16px;
                top:auto;
                border:transparent solid;
            }

            &:before {
                border-width:11px;
                margin-right:-11px;
                border-bottom-color:$border-color;
            }

            &:after {
                border-width:10px;
                margin-right:-10px;
                border-bottom-color:#fff;
            }

            ul {
                margin:0 1em;

                & + ul {
                    border-top:1px solid #ccc;
                    margin-top:0.5em;
                    padding-top:0.5em;
                }

                li {
                    padding:0.75em 0;

                    a {
                        display:block;
                        font-size:1.2em;
                        white-space:nowrap;
                    }
                }
            }
        }

        &:hover {
            color:red;
        }

        &:active {
            .close_dialog {
                display:block;
            }
        }
    }


    /* Sticker stuff */

    .sticker_bg {
        display:none;
        @extend .fullsize;
        @include opacity(0.15);
    }

    .sticker_message_overlay {
        @extend .fullsize;
        padding:1em 0.5em;
        text-align:center;
        font-size:1.4em;
        color:$canvas_notice_red;
        background:rgba(#fff, 0.8);
        z-index:2;
        @include opacity(0);
        pointer-events:none;
        @include transition(opacity 0.3s ease-in-out);
        @extend .rounded_top;
    }

    .sticker_target {
        /* Tells the Javascript where to place the sticker, and size */
        position:absolute;
        width:50px;
        height:50px;
        right:0;
        bottom:0;
        z-index:1;
    }

    .sticker_flavor {
        display:none;
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        height:15px;

        > .sticker_container {
            @extend .sticker_target;

            & + .sticker_count {
                display:block;
                position:absolute;
                right:1px;
                bottom:1px;
                max-height:1.3em;
                padding:0.1em 0.3em;
                background:#fff;
                color:#333;
                vertical-align:bottom;
                overflow:hidden;
                z-index:1;
                @include text-shadow(none);
                @include box-shadow(1px 1px 2px 1px rgba(#000, 0.3));
                @extend .rounded_corners;

                span {
                    display:block;
                    position:relative;
                }
            }
        }

        &.sticker_themed,
        .sticker_themed {
            @extend .box_shadow_none;
        }

        .top_stickers {
            position:absolute;
            right:50px;
            bottom:2px;
            max-width:570px;
            vertical-align:bottom;
            pointer-events:none;
            @include opacity(0);
            @include transition(opacity 0.3s);

            > span {
                white-space:nowrap;
            }

            .sticker_container {
                width:25px;
                height:25px;
            }

            .sticker_count {
                position:relative;
                display:inline-block;
                max-height:1.3em;
                left:-10px;
                padding:0.1em 0.3em;
                background:#fff;
                color:#333;
                vertical-align:bottom;
                overflow:hidden;
                @include text-shadow(none);
                @include box-shadow(1px 1px 1px rgba(#000, 0.3));
                @extend .rounded_corners;

                span {
                    display:block;
                    position:relative;
                }
            }
        }

        &:hover,
        &.js_fake_hover {
            .top_stickers {
                @include opacity(1);
            }
        }
    }

    #replied_comment {
        position:absolute;
        z-index:3;
        padding:10px;
        background:white;
        @include opacity(0);
        @include box-shadow(2px 2px 10px rgba(#000, 0.5));
        @include border-radius(0 0 7 7);

        .arrow {
            position:absolute;
            width:33px;
            height:74px;
            background:url(/static/img/replied-comment-point.png);
            right:270px;
            top:0;
        }

        .image_tile {
            width:250px;
            position:relative;
            @include box-shadow(0 0 2px #999);
            @include border-radius(0 0 7 7);

            &:not(.stickered) .image_footer.text_only {
                display:none;
            }
        }

        p.replied_collapsed_text {
            display:block;
            width:250px;
            min-height:50px;
            font-size:1.6em;
            color:#333;
        }

        .image_tile.collapsed,
        .replied_collapsed_text:not(.collapsed) {
            display:none;
        }

        .image_container {
            width:250px;
            min-height:80px;
            background:#eee;
            text-align:center;

            > img {
                display:block;
                max-width:250px;
                height:auto;
            }
        }

        .comment_container {
            width:250px;
            padding:10px;
            font-size:1.6em;
            background:#eee;
        }

        .image_footer {
            width:250px;
            min-height:20px;
            @include border-radius(0 0 7 7);
        }

        .image_caption {
            padding:10px;
            font-size:1.4em;
        }
    }

    &.collapsed {
        .user,
        .sticker_themed,
        .close_options,
        .inner_wrapper {
            display:none !important;
        }

        .post > .wrapper {
            margin-left:145px;
            cursor:pointer;
        }

        p.collapsed_text {
            padding:$post_padding;
            font-size:1.4em;
        }
    }
}
