$default_input_text_color: #999;
$default_text_color: #222;
$external_link_color: #f57;
$external_link_hover_color: #f05;
$warning_color: #f57;
$attention_text_color: #f95;
$bg_color: #FCFFFF;
$canvas_white: #FCFFFF;
$canvas_red: #FF0086;
$canvas_red_hover: #d06;
$canvas_notice_red: #f05;
$canvas_blue: #29ABE2;
$canvas_dark_blue: #098Bc2;
$canvas_blue_hover: $canvas_dark_blue;
$canvas_blue_muted: #607890;
$canvas_blue_muted_dark: #036;
$default_link_color: $canvas_blue_muted;
$default_link_hover_color: $canvas_blue_muted_dark;
$canvas_light_blue: #48beff;
$canvas_green: #65D6A8;
$canvas_dark_green: #56b492;
$canvas_pink: #f69;
$canvas_yellow: #E6EFC2;
$canvas_pale_yellow: #F6F9EA;
$canvas_light_green: #C9F1D7;
$canvas_highlight_yellow: #DAFF00;

$default_list_margin: 1.8em;
$default_font_size: 1.0em;
$default_font_family: Arial, Helvetica, sans-serif;
$z_index_stickers: 3;

$popup_page_width: 700px;

$menu_shadow_size:8px;
$menu_shadow_padding:12px;
$menu_shadow_color:#888;

$yellow_bg_img:url(/static/img/bg_yellow.png);
