<div class="image_chooser">
    <div class="start_widget">
        <div class="pw_loading">
            <div class="pw_status_message"></div>
        </div>

        <div class="start_from_url">
            <div class="input_wrapper">
                <label for="options_url">URL</label>
                <input id="options_url" type="text" value="" autocomplete="off">
                <button class="advance single_field_button">load</button>
            </div>
            <div class="clear">
                <a>go back</a>
                <span class="pw_error_message"></span>
            </div>
        </div>

        <ul>
            <li class="from_url">
                <div class="icon">
                    <img alt="url" src="/static/img/thread/icon_url.png">
                </div>
                <h2>URL</h2>
            </li>
            <li class="divider"></li>
            <li class="from_disk pw_upload">
                <input class="uploadify_input" name="file" type="file">
                <div class="uploadify_link">
                    <div class="icon">
                        <img alt="file" src="/static/img/thread/icon_file.png">
                    </div>
                    <h2>FILE</h2>
                </div>
            </li>
            <li class="divider scratch_ui"></li>
            <li class="from_scratch scratch_ui">
                <div class="icon">
                    <img alt="draw" src="/static/img/thread/icon_draw.png">
                </div>
                <h2>DRAW</h2>
            </li>
        </ul>
    </div>
</div>

