<!doctype html>
<html>
<head>
    {% compress css %}
        <link rel="stylesheet" href="/static/css/canvas.css">
        <link rel="stylesheet" href="/static/css/qt_footer.css">
    {% endcompress %}
</head>
<body>
    <div id="image_tile" class="qt_footer_tile">
        <div class="image_container">
            <div class="theme_bg sticker_themed {{ sticker }}"></div>
            {{ comment.get_img_tag('giant') }}
        </div>
        <footer class="sticker_themed {{ sticker }} qt">
            <div class="top_sticker">
                <span class="sticker_container {{ sticker }}"></span>
            </div>
            <div class="sticker_float"></div>
            {% if 0 %}
                <div class="title">
                    {{ comment.title }}
                </div>
            {% endif %}
            <div class="author">
                <span class="deemph">
                    {% if comment.is_remix() %}
                        made
                    {% else %}
                        shared
                    {% endif %}
                    {% if comment.author_name != "Anonymous" %}
                        by
                        
                    {% endif %}
                </span>
                {% if comment.author_name != "Anonymous" %}
                    <span class="username">
                        {% if comment.staff %}
                            <img src="/static/img/founder_badge.png" width="16" height="15" title="Canvas Staff">
                        {% endif %}
                        {{ comment.author_name }}
                    </span>
                {% else %}
                    <span class="deemph">anonymously</span>
                {% endif %}
            </div>
            {% if comment.reply_text %}
                <p class="caption">
                    {{ ugc_text(comment.reply_text, knobs.POST_TEXT_TRUNCATION_LENGTH, False, False) }}
                </p>
            {% endif %}

            <div class="clear"></div>
            <span class="url"><a href="">example.com{% if comment.parent_url %}{{ comment.parent_url }}{% else %}{{ comment.url }}{% endif %}</a></span>
            <div class="logo">
                {% if comment.is_remix() %}
                    <span class="remixed"></span>
                {% endif %}
                <img src="/static/img/footer/canvas-logo.png">
            </div>
        </footer>
    </div>
    <script>
        window.onload = function() {
            console.log("onload");
            var min_width = 450;
            var max_width = 600;
            var img = document.getElementsByTagName("img")[0];
            var p = document.getElementsByTagName("p")[0];
            var image_tile = document.getElementById("image_tile");
            var width = img.width;
            if (width < 580) {
                image_tile.className += " padded";
            }
            
            if (!p) return;
            if (width > min_width) {
                p.style.width = width - 20 + "px";
            } else {
                p.style.width = min_width - 20 + "px";
            }
        };
    </script>
</body>
</html>

