{% extends "drawquest/dqbase.html" %}

{% block viewport_meta %}
    <meta name="viewport" content="width=450, user-scalable=no">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/drawquest/password_reset.css">
{% endblock %}

{% block body %}
    <div class="fixed_width_wrapper">
        <h1>Password Reset Requested</h1>
        <p>
            We've e-mailed you your username and instructions for resetting
            your password to the e-mail address you submitted. You should
            be receiving it shortly.
        </p>
    </div>
{% endblock %}
