<script type="text/html" id="inventory_sticker_template">
<div class="inventory_sticker_wrapper">
    <span class="sticker_container ${name} drag" style="background-image:url('/static/img/stickers/${name}.png');" data-remaining="0" data-is_limited="true" data-type_id="${type_id}" data-name="${name}"></span>
    <span class="sticker_remaining"><span class="sticker_remaining_count">x<span class="sticker_remaining_number">0</span></span></span>
    <div class="shopping_actions">
        <div class="buy_sticker">+</div>
        <div class="sell_sticker">-</div>
    </div>
</div>
</script>
