<div class="audio_remix_widget">
    <div class="loading_mask"></div>
    <div class="close">
        <a class="cancel_remix tooltipped" title="Cancel remix">×</a>
    </div>

    <div class="image_preview">
        <div class="image_wrapper">
            <!-- Not working yet
            <div class="remove_image">
                <a class="remove_image tooltipped" title="Remove image">×</a>
            </div>
            -->
            <img src="">
        </div>
    </div>
    <div class="audio_input">
        <label>Load a Youtube Video</label>
        <input class="audio_url" type="text"><button class="load_audio">Load</button>
    </div>
    <div class="controls">
        <button class="play dismiss"></button>
        <input class="length" type="text" disabled>
        <div class="remove_audio">
            <a class="remove_audio tooltipped" title="Remove audio track">×</a>
        </div>
        <div class="canvas_slider">
            <div class="canvas_slider_handle draggable">
                <input class="start_time" type="text" disabled>
            </div>
            <div class="canvas_slider_handle draggable">
                <input class="current_time" type="text" disabled>
            </div>
            <div class="canvas_slider_handle draggable">
                <input class="end_time" type="text" disabled>
            </div>
        </div>
    </div>
</div>

