{% extends "header/base.html" %}

{% block header_nav %}{% endblock %}

{% block logo_outer %}
    <div class="logo"><a href="/admin/" style="background:none;font-size:25px;height:30px">DrawQuest Admin</a></div>
{% endblock %}

{% block header_right_side %}
    <ul class="user_links">
        <li class="avatar">
            <a>
                {{ header_avatar(request.user.username) }}
                <span>▼</span>
            </a>
            <div class="dropdown right_aligned">
                <div class="ul_wrapper">
                    <div class="hover_buffer"></div>
                    <ul>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="activity hidden">
            <a class="progress_bar" title="Receive {{ last_sticker.level_total - last_sticker.level_progress }} more points to get more #1 stickers!">
                <div class="progress_fill" style="width:{{ (last_sticker.level_progress/last_sticker.level_total * 100)|round|int }}%;">
                    <span>{{ (last_sticker.level_progress/last_sticker.level_total * 100)|round|int }}</span>
                </div>
                <span>▼</span>
            </a>
        </li>

        <li class="new_thread">
            <a href="/admin/post_thread{% if request.nav_tag %}?t={{ request.nav_tag }}{% endif %}">
                Create a Quest
            </a>
        </li>

        {% if request.user.can_moderate_flagged %}
            <li class="flagged">
                <a href="/admin/staff/flagged">
                    <span class="count">{{ flagged_unjudged }}</span>
                </a>
                <div class="arrow"></div>
            </li>
        {% endif %}

    </ul>
{% endblock %}

