{% djextends "base/full_base.django.html" %}

{% block title %}
    {% if op_comment.title %}
        | {{ op_comment.title }}
    {% else %}
        {% if meta_description %}
            {{ linked_comment.shareable_metadata.description|truncate(20) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block pageclass %}
    thread_new
{% endblock %}

{% block extra_meta %}
<meta property="og:title" content="{{ fb_metadata.title|escape }}">
<meta property="og:description" content="{{ fb_metadata.description|escape }}">
<meta property="og:image" content="{{ fb_metadata.image }}">
<meta property="og:type" content="{{ og_type() }}">
<link rel="image_src" href="{{ fb_metadata.image }}" />
{% endblock %}

{% block content %}
    <div class="thread_posts">
        <div class="user_band"></div>
        <header class="thread_op">
            <ul>
                {{ thread_new_comment(op_comment, true, (op_comment.id == comment_to_expand.id), (op_comment.id == first_comment_with_content.id), (op_comment.id == last_comment_with_content.id)) }}
            </ul>
        </header>
        {{ thread_new_pagination() }}
        <section class="replies">
            <a class="goto_anchor" name="replies"></a>
            <ul>
                {% for reply in replies %}
                    {{ thread_new_comment(reply, false, (reply.id == comment_to_expand.id), (reply.id == first_comment_with_content.id), (reply.id == last_comment_with_content.id)) }}
                {% endfor %}
            </ul>
        </section>
    </div>
    {{ thread_new_pagination() }}
    <button class="more_posts">
        Click to show new post
    </button>
    <section class="reply_widget hidden">
        <a class="goto_anchor" name="remix"></a>
        {% include "comment/reply_widget.html" %}
    </section>
{% endblock %}

{% block extra_javascript %}
    {% compress js %}
        <script src="/static/js/dismissal.js"></script>
        <script src="/static/js/thread_new.js"></script>
        <script src="/static/js/thread_comment.js"></script>
    {% endcompress %}
    <script>
        thread_new.page_current = {{ page_current }};
        thread_new.page_last = {{ page_last }};
        thread_new.op_comment = {{ op_comment|to_json }};
        thread_new.reply_data = {{ replies|to_json }}.concat(thread_new.op_comment);
        thread_new.draw_from_scratch_content = canvas.storeContent({{ draw_from_scratch_content|to_json }});
        thread_new.base_url = "{{ op_comment.url }}/";
        thread_new.comment_to_expand = {{ comment_to_expand|to_json }};
        thread_new.sort_by_top = {{ sort_by_top|to_json }};

        $(function() {
            thread_new.wire();

            $(function() {
                thread_new.replies_channel = {{ replies_channel|to_json }};
                thread_new.on_load();
            });
        });
    </script>
{% endblock %}

