{% extends "comment/explore.html" %}

{% block title %} | About Canvas{% endblock %}

{% block extra_css %}
<style>
    .thread_title {
        display:none;
    }
    a.thread_link {
        display:none;
    }
    #content_header p {
        font-size:1.4em;
        margin:0.5em 0 1.5em;
    }
</style>
{% endblock %}

{% block content_header %}
    <div class="about_content">
        <h1>About Canvas</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
{% endblock %}

{% block pagination_data %}
    explore.post_offset = 30;
{% endblock %}
