{% load canvas_tags %}
<div id="footer_wrapper">
    <div id="footer">
        <a href="/about">About</a> |
        <a href="/code_of_conduct">Code of Conduct</a> |
        <a href="/dmca">DMCA</a> |
        <a href="/privacy">Privacy Policy</a> |
        <a href="/terms">Terms of Service</a> |
        <a href="mailto:support@example.com">Support</a> | 
        <a href="mailto:contact@example.com" target="_blank">Contact</a> | 
        <a href="http://blog.example.com/" target="_blank">Blog</a> | 
        <a href="http://twitter.com/" target="_blank">Twitter</a> |
        Copyright © 2010-2012 Canvas Networks, Inc. All rights reserved.
    </div>
</div>
