{% djextends "base/headered_base.django.html" %}

{% block pageclass %}
    invites
    onboarding
{% endblock %}

{% block content %}
    {% if onboarding %}
        {% include "onboarding/invites.html" %}
    {% endif %}
    <div class="invites">
        <a class="facebook">
            <img src="/static/img/share_facebook_large.png"><span>Invite Friends on Facebook</span>
        </a>
        <a class="twitter">
            <img src="/static/img/share_twitter_large.png"><span>on Twitter</span>
        </a>
        <a class="email">
            <img src="/static/img/share_email_large.png"><span>via email</span>
        </a>
        <div class="clear"></div>
        <p>
            Canvas will never post to social networks without your permission.
        </p>
    </div>
{% endblock %}

{% block extra_javascript %}
{% compress js %}
    <script src="/static/js/invites.js"></script>
    <script src="/static/js/onboarding/invites.js"></script>
    <script src="/static/js/onboarding/onboarding.js"></script>
{% endcompress %}
{% endblock %}
