{% block content %}

<h1>Password reset</h1>

<p style="width:600px;">
    Forgotten your username or password? <strong>Enter your e-mail address.</strong>
    <br><br>
    This will be the email address you signed up with. (If you signed up with Facebook,
    enter your the email address associated with your Facebook account.)
</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
</form>

{% endblock %}
