{% extends "base.django.html" %}
{% load canvas_tags %}
{% block title %} | Terms of Service{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/legal.css">
{% endblock %}

{% block content %}
<h1>Canvas Terms of Service</h1>
<hr>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
{% endblock %}
