/* Reset pretty much every style in case our stuff has been targeted with element selectors */

#canv_as, #canv_as div, #canv_as hr {
    display:block;
}
#canv_as a, #canv_as img, #canv_as span {
    display:inline;
}
#canv_as, #canv_as div, #canv_as hr, #canv_as a, #canv_as img, #canv_as span {
    azimuth:center;background:transparent none repeat scroll top right;border:0;border-collapse:separate;border-spacing:0;
    bottom:auto;caption-side:top;clear:none;clip:inherit;color:inherit;cursor:auto;direction:ltr;empty-cells:show;float:none;
    font:normal normal normal 100%/normal Arial,Helvetica,sans-serif;font-size-adjust:none;font-stretch:normal;height:auto;
    left:auto;letter-spacing:normal;list-style:disc outside none;margin:0;max-height:none;max-width:none;min-height:none;
    min-width:none;outline:0;overflow:visible;padding:0;position:static;quotes:inherit;right:auto;size:auto;
    text-align:inherit;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;top:auto;
    vertical-align:baseline;visibility:visible;white-space:normal;width:auto;word-spacing:normal;z-index:auto;
    border-radius:none;-webkit-border-radius:none;-moz-border-radius:none;-moz-opacity:inherit;-moz-outline:0;
    -moz-user-focus:normal;-moz-user-input:auto;-moz-user-select:text;box-shadow:none;-webkit-box-shadow:none;
    -moz-box-shadow:none;box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;
}

/* Widget classes */

#canv_as {
    position:fixed;
}

#canv_as .canv_as_stickers_wrapper {
    position:absolute;
    left:20px;
    top:-7px;
    padding:3px 4px;
    background:#fff;
    z-index:10000000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.5);
    -moz-box-shadow:1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:1px 1px 5px rgba(0,0,0,0.5);
}

#canv_as .canv_as_stickers_positive {
    position:relative;
    width:150px;
    border:1px solid #ccc;
    padding:4px 1px 0 1px;
    border-bottom:0;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

#canv_as .canv_as_sticker {
    display:inline-block;
    width:50px;
    height:50px;
    background-size:auto 300%;
    -moz-background-size:auto 300%;
    -webkit-background-size:auto 300%;
    background-position:0 -50px;
}

#canv_as .canv_as_dragging {
    position:absolute;
}

#canv_as .canv_as_empty_sticker {
    background-position:0 -100px;
}

#canv_as .canv_as_floating_sticker {
    background-position:0 0;
}

#canv_as .canv_as_fadeback {
    position:absolute;
}

#canv_as .canv_as_handle {
    margin-bottom:3px;
    cursor:move;
    background:#fff;
}

    #canv_as .canv_as_stickers_wrapper .canv_as_handle hr {
        margin-bottom:2px;
        border-top:1px solid #eee;
        border-bottom:1px solid #ddd;
        cursor:move;
    }

#canv_as .canv_as_logo {
    padding:3px;
    border:1px solid #ccc;
    border-top:0;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}

    #canv_as .canv_as_logo a {
        padding-left:2px;
    }
    
    #canv_as .canv_as_logo .canv_as_close {
        display:block;
        float:right;
        width:22px;
        height:22px;
        cursor:pointer;
        background:url(/static/bookmarklet/close.png) center center no-repeat;
        opacity:0.5;
    }
    
    #canv_as .canv_as_logo .canv_as_close:hover {
        opacity:1;
    }

/* Image classes - keep these !important since they could potentially be targetted with more specific selectors */

.canv_as_sticker_count {
    background:#fff !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.26) !important;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.26) !important;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.26) !important;
}

.canv_as_top_sticker {
    position:absolute !important;
    height:50px !important;
    width:50px !important;
    right:0 !important;
    bottom:0 !important;
    z-index:10000000;
}

    .canv_as_top_sticker .canv_as_sticker {
        display:inline-block !important;
        width:50px !important;
        height:50px !important;
        background-size:auto 300% !important;
        -moz-background-size:auto 300% !important;
        -webkit-background-size:auto 300% !important;
        background-position:0 -50px !important;
    }
    
    .canv_as_top_sticker .canv_as_sticker_count {
        position:absolute !important;
        right:0 !important;
        bottom:0 !important;
        padding:2px !important;
        font-size:10px;
        line-height:12px;
    }

.canv_as_aux_stickers {
    display:none;
    position:absolute !important;
    right:50px !important;
    bottom:0 !important;
}

    .canv_as_aux_stickers .canv_as_sticker {
        display:inline-block !important;
        width:25px !important;
        height:25px !important;
        background-size:auto 300% !important;
        -moz-background-size:auto 300% !important;
        -webkit-background-size:auto 300% !important;
        background-position:0 -25px !important;
        z-index:9000000;
    }
    
    .canv_as_aux_stickers .canv_as_sticker_count {
        position:relative !important;
        left:-3px !important;
        bottom:6px !important;
        padding:2px;
        font-size:9px;
        line-height:10px;
    }

.canv_as_image_wrapper {
    display:inline-block;
    position:relative !important;
    line-height:normal !important;
}

    .canv_as_error_message {
        opacity:0;
        position:absolute !important;
        width:100% !important;
        height:100% !important;
        z-index:9000001 !important;
        background:rgba(175,175,175,0.85) !important;
        color:#222 !important;
        font-size:16px !important;
        text-align:center !important;
        text-shadow:0 1px 0 rgba(255,255,255,0.4) !important;
    }

        .canv_as_stickered .canv_as_error_message {
            -moz-border-radius-topleft: 0px !important;
            -moz-border-radius-topright: 0px !important;
            -moz-border-radius-bottomright: 7px !important;
            -moz-border-radius-bottomleft: 7px !important;
            -webkit-border-radius: 0px 0px 7px 7px !important;
            border-radius: 0px 0px 7px 7px !important;
        }
        
        .canv_as_drop_target .canv_as_error_message {
            opacity:1 !important;
            background:transparent !important;
            -webkit-box-shadow:inset 2px 2px 0 #5588ff, inset -2px -2px 0 #5588ff;
            -moz-box-shadow:inset 2px 2px 0 #5588ff, inset -2px -2px 0 #5588ff;
            box-shadow:inset 2px 2px 0 #5588ff, inset -2px -2px 0 #5588ff;
        }
    
        .canv_as_error_message span {
            font-weight:bold !important;
        }
    
    .canv_as_image_wrapper > img {
        display:block !important;
        position:relative !important;
        z-index:1 !important;
    }

.canv_as_stickered {
    -moz-border-radius-topleft: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomright: 7px !important;
    -moz-border-radius-bottomleft: 7px !important;
    -webkit-border-radius: 0px 0px 7px 7px !important;
    border-radius: 0px 0px 7px 7px !important;
}

.canv_as_image_footer {
    position:relative !important;
    min-height:20px !important;
    -moz-border-radius-topleft: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomright: 7px !important;
    -moz-border-radius-bottomleft: 7px !important;
    -webkit-border-radius: 0px 0px 7px 7px !important;
    border-radius: 0px 0px 7px 7px !important;
}


/* Footer themes */

.canv_as_sticker_themed {
    background:#C4CECC url("http://example.com/static/img/footer-textures/default.png") !important;
    -webkit-box-shadow: 0px 1px 0px #919191 !important;
    -moz-box-shadow: 0px 1px 0px #919191 !important;
    box-shadow: 0px 1px 0px #919191 !important;
    color:#222 !important;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.45) !important;
}
    
    .canv_as_sticker_themed.canv_as_image_footer a {
        display:inline-block !important;
        font-weight:bold !important;
        color:#fff !important;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.5) !important;
    }
    
    .canv_as_sticker_themed.canv_as_image_footer a:hover {
        text-decoration:underline !important;
    }
    
    .canv_as_sticker_themed.canv_as_image_footer .demphasize {
        opacity:0.5 !important;
    }

.canv_as_sticker_themed.canv_as_monocle,
.canv_as_sticker_themed.canv_as_monocle-hungover,
.canv_as_sticker_themed.canv_as_monocle-sombrero,
.canv_as_sticker_themed.canv_as_monocle-maracas,
.canv_as_sticker_themed.canv_as_monocle-margarita {
    background:#6d2312 url("http://example.com/static/img/footer-textures/monocle.jpg") !important;
    -webkit-box-shadow: 0px 1px 0px #362308 !important;
    -moz-box-shadow: 0px 1px 0px #362308 !important;
    box-shadow: 0px 1px 0px #362308 !important;
    color:#E2D2CF !important;
    text-shadow:-1px -1px 0 #000 !important;
}

.canv_as_sticker_themed.canv_as_monocle-sombrero,
.canv_as_sticker_themed.canv_as_monocle-maracas,
.canv_as_sticker_themed.canv_as_monocle-margarita {
    background:#6d2312 url("http://example.com/static/img/footer-textures/cinco-de-monocle.jpg") !important;
}

    .canv_as_sticker_themed.canv_as_monocle a,
    .canv_as_sticker_themed.canv_as_monocle-hungover a,
    .canv_as_sticker_themed.canv_as_monocle-sombrero a,
    .canv_as_sticker_themed.canv_as_monocle-maracas a,
    .canv_as_sticker_themed.canv_as_monocle-margarita a {
        font-weight:bold !important;
        color:#ffc !important;
        text-shadow: 0px 1px 1px #000 !important;
    }
    
     .canv_as_sticker_themed.canv_as_monocle span.canv_as_reply_num,
     .canv_as_sticker_themed.canv_as_monocle-hungover span.canv_as_reply_num,
     .canv_as_sticker_themed.canv_as_monocle-sombrero span.canv_as_reply_num,
     .canv_as_sticker_themed.canv_as_monocle-maracas span.canv_as_reply_num,
     .canv_as_sticker_themed.canv_as_monocle-margarita span.canv_as_reply_num {
        background:rgba(0,0,0,0.3) !important;
        color:#fff !important;
        -webkit-box-shadow: inset -1px -1px 0px rgba(255,255,255,0.4) !important;
        -moz-box-shadow: inset -1px -1px 0px rgba(255,255,255,0.4) !important;
        box-shadow: inset -1px -1px 0px rgba(255,255,255,0.4) !important;
    }
    
     .canv_as_sticker_themed.canv_as_monocle span.canv_as_sticker_count,
     .canv_as_sticker_themed.canv_as_monocle-hungover span.canv_as_sticker_count,
     .canv_as_sticker_themed.canv_as_monocle-sombrero span.canv_as_sticker_count,
     .canv_as_sticker_themed.canv_as_monocle-maracas span.canv_as_sticker_count,
     .canv_as_sticker_themed.canv_as_monocle-margarita span.canv_as_sticker_count,
     .canv_as_sticker_themed.canv_as_zalgo-black span.canv_as_sticker_count {
        color:#222 !important;
        text-shadow:none !important;
    }
    
.canv_as_sticker_themed.canv_as_smiley {
    background:#34B5E8 url("http://example.com/static/img/footer-textures/smiley.png") !important;
    -webkit-box-shadow: 0px 1px 0px  #0087bd !important;
    -moz-box-shadow: 0px 1px 0px  #0087bd !important;
    box-shadow: 0px 1px 0px  #0087bd !important;
}

    .canv_as_sticker_themed.canv_as_smiley p::selection {
        background:rgba(255,255,0,0.5) !important;
        text-shadow:none !important;
    }

.canv_as_sticker_themed.canv_as_frowny {
    background:#FF0086 url("http://example.com/static/img/footer-textures/frowny.png") !important;
    -webkit-box-shadow: 0px 1px 0px  #991d59 !important;
    -moz-box-shadow: 0px 1px 0px  #991d59 !important;
    box-shadow: 0px 1px 0px  #991d59 !important;
}

.canv_as_sticker_themed.canv_as_lol {
    background:#65D6A8 url("http://example.com/static/img/footer-textures/lol.png") !important;
    -webkit-box-shadow: 0px 1px 0px  #33966d !important;
    -moz-box-shadow: 0px 1px 0px  #33966d !important;
    box-shadow: 0px 1px 0px  #33966d !important;
}

.canv_as_sticker_themed.canv_as_wtf,
.canv_as_sticker_themed.canv_as_wow {
    background:#C16EE0 url("http://example.com/static/img/footer-textures/wtf.png") !important;
    -webkit-box-shadow: 0px 1px 0px  #923db3 !important;
    -moz-box-shadow: 0px 1px 0px  #923db3 !important;
    box-shadow: 0px 1px 0px  #923db3 !important;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.3) !important;
}

.canv_as_sticker_themed.canv_as_question {
    background:#807C87 url("http://example.com/static/img/footer-textures/question.png") !important;
    -webkit-box-shadow: 0px 1px 0px  #504c57 !important;
    -moz-box-shadow: 0px 1px 0px  #504c57 !important;
    box-shadow: 0px 1px 0px  #504c57 !important;
}

.canv_as_sticker_themed.canv_as_num1 {
    background:#F4E158 !important;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.28, rgb(232,182,33)),
        color-stop(0.63, rgb(250,236,110)),
        color-stop(0.82, rgb(255,255,161)),
        color-stop(0.96, rgb(255,235,107)),
        color-stop(0.71, rgb(250,250,168)),
        color-stop(0.6, rgb(250,235,123))
    ) !important;
    background-image: -moz-linear-gradient(
        left bottom,
        rgb(232,182,33) 28%,
        rgb(250,236,110) 63%,
        rgb(255,255,161) 82%,
        rgb(255,235,107) 96%,
        rgb(250,250,168) 71%,
        rgb(250,235,123) 60%
    ) !important;
    -webkit-box-shadow: 0px 1px 0px  #9E531B !important;
    -moz-box-shadow: 0px 1px 0px  #825108 !important;
    box-shadow: 0px 1px 0px  #825108 !important;
    color:#3F200B !important;
}

    .canv_as_sticker_themed.canv_as_num1 a {
        text-shadow:1px 1px 1px #C69B2E, -1px -1px 1px #C69B2E, 1px -1px 1px #C69B2E, -1px 1px 1px #C69B2E !important;
    }
    
    .canv_as_sticker_themed.canv_as_num1 a:hover {
        opacity:1.0;
        text-shadow:1px 1px 1px #A07827, -1px -1px 1px #A07827, 1px -1px 1px #A07827, -1px 1px 1px #A07827 !important;
    }

.canv_as_sticker_themed.canv_as_cookie {
    background:#EDC154 url("http://example.com/static/img/footer-textures/cookie.png") !important;
    -webkit-box-shadow: 0px 1px 0px  #b5903a !important;
    -moz-box-shadow: 0px 1px 0px  #b5903a !important;
    box-shadow: 0px 1px 0px  #b5903a !important;
}

.canv_as_sticker_themed.canv_as_heart {
    background:#fc7ba3 url("http://example.com/static/img/footer-textures/heart.png") !important;
    -webkit-box-shadow: 0px 1px 0px  #ed5180 !important;
    -moz-box-shadow: 0px 1px 0px  #ed5180 !important;
    box-shadow: 0px 1px 0px  #ed5180 !important;
}
