@import "fonts", "mixins", "vars", "normalize", "defaults", "header", "footer";

$screenshot_ratio:512/401;

body {
    background:$_bg_dark_gray_pebble;
}

.fixed_width_wrapper {
    position:relative;
    width:960px;
    margin:0 auto;
    padding:20px 20px;
    z-index:1;
    @include clearfix();
}

#header {
    border-bottom:5px solid $drawing_footer_border_color;
    @include bg-linear-gradient($drawing_footer_gradient);
}

#header .fixed_width_wrapper {
    padding:5px 25px;
}

section.body {
    background:$page_bg;
}

#footer .fixed_width_wrapper {
    padding:0;
}

/* Image area */
.main {
    position:relative;
    float:left;
}

ul.slideshow {
    $size:550px;

    position:relative;
    width:$size;
    height:$size/$screenshot_ratio;
    padding:0;
    text-align:center;
    line-height:$size/$screenshot_ratio * 2 + 50px;
    cursor:default;
    background:none center top / 100% no-repeat;
    background-image:url(/static/img/drawquest/promotion/ipad_550.png);
    background-size:100% 100%;
    -webkit-background-size:100% 100%;
    @include box-sizing(content-box);

    li {
        display:inline-block;
        height:2em;
        line-height:0px;
        bottom:0;
        outline:0;
        cursor:pointer;

        .screenshot {
            /* Screenshot */
            content:"\00a0";
            position:absolute;
            /* Fits over the screen at all sizes */
            left:9.25%;
            top:10.2%;
            width:81.5%;
            height:78.2%;
            background-position:center top;
            background-size:100%;
            background-repeat:no-repeat;
            opacity:0;
            z-index:1;
            cursor:default;
            @include transition(opacity 0.5s linear);
        }

        &:after {
            /* Dot */
            content:"\2022";
            display:block;
            position:relative;
            color:$_color_medium_gray;
            z-index:3;
            font-size:5em;
            cursor:pointer;
            text-shadow:-1px -1px 0 rgba(#000, 0.3);
        }

        &.active {
            .screenshot {
                opacity:1;
                z-index:2;
            }

            &:after {
                color:$_color_turqoise;
            }
        }
    }
}

.shot_1 { background-image:url(/static/img/drawquest/promotion/screenshot_1_448.jpg); }
.shot_2 { background-image:url(/static/img/drawquest/promotion/screenshot_2_448.jpg); }
.shot_3 { background-image:url(/static/img/drawquest/promotion/screenshot_3_448.jpg); }

/* App marketing */

.app_store_link {
    display:block;
    position:absolute;
    left:100%;
    padding-left:20px;
    bottom:3%;
}

.marketing {
    float:right;
    width:325px;

    h1 {
        position:relative;
        padding-left:90px;
        top:10px;
        margin:0;
    }

    img.drawing_tools {
        position:absolute;
        z-index:-1;
    }

    .app_icon {
        width:50px;
        height:50px;
        border:none;
        vertical-align:middle;
        margin-right:10px;
    }

    .logo {
        width:250px;
        height:auto;
        vertical-align:middle;
    }

    .cta {
        display:block;
        font-size:2em;
        width:16em;
        margin:2em auto;

        img {
            height:1.05em;
            width:auto;
            vertical-align:top;
        }
    }

    p.about {
        position:relative;
        font-size:1.6em;
        color:#555;
        text-shadow:0 1px 1px #fff;
        @include clearfix();
    }
}


/* Tall layout for vertical devices */
/* And very small desktop screens */
@media
only screen and (max-width:320px) and (orientation:portrait),
only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait),
only screen and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait),
only screen and (min-device-pixel-ratio:1.5) and (orientation:portrait),
only screen and (max-width:999px)
{
    .fixed_width_wrapper {
        width:360px;
        padding:20px 10px;
    }

    .main,
    .marketing {
        float:none;
    }

    .main {
        margin-bottom:3em;
    }

    ul.slideshow {
        $size:340px;
        width:$size;
        height:$size/$screenshot_ratio;
        background-image:url(/static/img/drawquest/promotion/ipad_700.png);

        li {
            line-height:180px;

            &:after {
                top:-5em;
            }
        }
    }

    .shot_1 { background-image:url(/static/img/drawquest/promotion/screenshot_1_570.jpg); }
    .shot_2 { background-image:url(/static/img/drawquest/promotion/screenshot_2_570.jpg); }
    .shot_3 { background-image:url(/static/img/drawquest/promotion/screenshot_3_570.jpg); }

    .marketing {
        width:100%;
        text-align:center;

        .app_icon {
            height:30px;
            width:30px;
        }

        .logo {
            width:80%;
        }

        p.about {
            font-size:1.4em;
            text-align:left;
        }
    }

    .app_store_link {
        display:none;
    }
}

/* For medium desktop screens */
@media only screen and (min-width:1000px) {
    .fixed_width_wrapper {
        width:1000px;
    }

    ul.slideshow {
        $size:550px;
        width:$size;
        height:$size/$screenshot_ratio;
    }
}

/* For larger desktop screens */
@media only screen and (min-width:1300px) {
    $width:1300px;

    .fixed_width_wrapper {
        width:1300px;
    }

    ul.slideshow {
        $size:700px;
        width:$size;
        height:$size/$screenshot_ratio;
        background-image:url(/static/img/drawquest/promotion/ipad_700.png);

        li {
            line-height:240px;
        }
    }
    .shot_1 { background-image:url(/static/img/drawquest/promotion/screenshot_1_570.jpg); }
    .shot_2 { background-image:url(/static/img/drawquest/promotion/screenshot_2_570.jpg); }
    .shot_3 { background-image:url(/static/img/drawquest/promotion/screenshot_3_570.jpg); }

    .marketing {
        width:440px;

        p.about {
            font-size:1.8em;
        }

        .cta {
            font-size:2.5em;
        }

        .app_icon {
            width:60px;
            height:60px;
        }

        .logo {
            width:350px;
        }
    }
}

/* For very large desktop screens */
@media only screen and (min-width:1700px) {
    .fixed_width_wrapper {
        width:1700px;
    }

    ul.slideshow {
        $size:1024px;
        width:$size;
        height:$size/$screenshot_ratio;
        background-image:url(/static/img/drawquest/promotion/ipad_1024.png);

        li {
            line-height:750px;
        }
    }
    .shot_1 { background-image:url(/static/img/drawquest/promotion/screenshot_1_834.jpg); }
    .shot_2 { background-image:url(/static/img/drawquest/promotion/screenshot_2_834.jpg); }
    .shot_3 { background-image:url(/static/img/drawquest/promotion/screenshot_3_834.jpg); }

    .drawing_info {
        font-size:1.25em;
    }

    .marketing {
        width:516px;

        p.about {
            font-size:2em;
        }

        .cta {
            font-size:3em;
        }
    }
}
