@import "fonts", "mixins", "vars", "normalize", "defaults";

body {
    background:$page_bg;

    &:before {
        content:"\00a0";
        @include fullsize();
        position:fixed;
        @include bg-radial-gradient(0deg, center, auto auto, circle cover, (rgba(#fff, 0.6) 20%, rgba(#fff, 0) 100%));
    }
}

.fixed_width_wrapper {
    position:relative;
    z-index:1;
    width:450px;
    margin:0 auto;
    padding:20px;
}

p {
    font-size:1.6em;
}

label {
    display:block;
    font-size:1.6em;
}

input {
    border:1px solid $_color_dark_gray;
    outline:0;
    padding:0.25em 0.5em;
    font-size:16px;
    vertical-align:top;
    @include box-shadow(none);
    @include border-radius(4px);
}

button {
    font-size:1em;
}

ul.errors {
    color:red;
    font-size:1.6em;
    margin:0;
    padding:0;
}
