<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Canvas - Jobs</title>
        <meta name="description" content="Canvas is hiring software engineers.">
        <link rel="stylesheet" href="/static/css/jobs.css">
    </head>
    <body>
        <div id="wrapper" class="clearfix">
            <div class="column_1">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <p class="email">If you're interested, send an e-mail with your resume and a link to your portfolio to<br>
            <a href="mailto:jobs@example.com">jobs@example.com</a>
        </p>
    </body>
</html>
